<div class="border rounded-lg">
  <div class="border-bottom row m-0">
    <div class="col-lg-6 p-3">
      <div class="font-weight-bold">Total Money In</div>
    </div>
    <div class="col-lg-6 text-right p-3"><%= number_to_currency(@cashflow.total_money_in.abs) %></div>
  </div>
  <% if @earning_transactions.empty? %>
    <div class="row m-0">
      <div class="col-lg-12 py-3">
        <div class="text-center grey font-italic med">No transactions yet.</div>
      </div>
    </div>
  <% else %>
    <% @earning_transactions.each do |earning| %>
      <% if earning.transactions.count > 0 %>
      <div class="row m-0 border-bottom category-row" data-cashflow-type="money_in" data-essential="true">
        <div class="col-lg-9 p-3">
          <div class=""><%= earning.category_name %></div>
          <div class="small grey"><%= pluralize(earning.transactions.count, 'transactions') %></div>
        </div>
        <div class="col-lg-3 p-3 text-right"><%= number_to_currency(earning.total_spend.abs)%></div>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>
