<div class="primary text-uppercase small bold-2"><%= title %></div>
<div class="fw-bold lg-28"><%= number_to_currency(metric_value)%></div>
<div class="metric-trend small grey-500"><%= @period_description %></div>