<div class="row m-0 tx-row p-3" data-id="<%= tx.id %>">
  <div class="col-lg-2"><%= tx.formatted_occurred_at %></div>
  <div class="col-lg-8"><%= tx.custom_description %></div>
  <div class="col-lg-2 text-end"><%= number_to_currency(tx.amount)%></div>
</div>