<div class="flex-container dotted-border">
  <div class="tx-date"><%= tx.occured_at.strftime('%b %d, %Y') %></div>
  <div class="tx-category-list"><%= tx.category.primary_name %></div>
  <div class="tx-desc"><%= tx.custom_description %></div>
  <div class="tx-amount"><%= number_to_currency(tx.amount)%></div>
</div>