<div class="row m-0 tx-row py-2" data-id="<%= tx.id %>">
  <div class="col-8 p-0">
    <div><%= tx.custom_description %></div>
    <div><%= tx.formatted_occurred_at %></div>
  </div>
  <div class="col-4 text-end p-0"><%= number_to_currency(tx.amount)%></div>
</div>