<div id="chart-legend" style="width:100%; height: 100px; background-color: #FFF"></div>
<div id="chart-dygraph" style="width:100%; height: 300px; background-color: #FFF">
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.css" />

<%= javascript_tag do -%>
window.addEventListener('load', (event) => {
  var cashflow = JSON.parse('<%= @historical_cashflow_chart_data.to_json.html_safe -%>');
  var money_in = cashflow['money_in'];
  var money_out = cashflow['money_out'];
  var money_saved = cashflow['money_saved'];
  data = money_in.map((item, index) => {
    var date = new Date(item[0]);
    var mi_val = item[1];
    var mo_val = money_out[index][1];
    var ms_val = money_saved[index][1];
    return [date, mi_val, mo_val, ms_val];
  });
  var graph = new Dygraph(
    document.getElementById("chart-dygraph"),
    data,
    {
      labels: ["date", "Money In", "Money Out", "Money Saved"],
      axisLabelFontSize: 12,
      axisLineColor: "rgb(218,218,218)",
      axisLabelWidth: 100,
      axisLineWidth: 1.0,
      drawAxesAtZero: true,
      drawGrid: false,
      strokeWidth: 3,
      colors: ['#8888FC','#829AB1','#3EBD93'],
      gridLineColor: "rgb(240,244,248)",
      highlightCircleSize: 5,
      labelsDiv: document.getElementById("chart-legend"),
      legend: "always",
      labelsSeparateLines: true,
      plugins: [
        new Dygraph.Plugins.Crosshair({
          direction: "vertical"
        })
      ],
    }
  );
});
<% end -%>
