<div id="flash-container" class="text-center">
	<% if notice %>
	<div class="alert">
		<%= notice %>
	</div>
	<% end %>
	<% if alert %>
	<div class="alert alert-error">
		<%= alert %>
	</div>
	<% end %>
</div>