<% if resource.errors.any? %>
  <div id="error_explanation" class="alert">
    <ul class="basic">
      <% resource.errors.each do |attr, message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
