<% unless object.errors.blank? %>
<div id="error_explanation">
  <div class="alert alert-error">
    <b>The form contains <%= pluralize(object.errors.count, "error") %>.</b>
    <% object.errors.each do |error| %>
    <div class="error_msg"><%= error.message %></div>
    <% end %>
  </div>
</div>
<% end %>