<div class="row">
  <div class='col'>
    <% if subscription.present? %>
      <% if current_user.company.subscription_cancel_at %>
        <div class="">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" class="warning">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
          Your subscription to Cheer premium plan is about to expire on <%= Time.at(current_user.company.subscription_cancel_at).to_date.strftime('%b %d, %Y')%>.
        </div>
        <div class="small grey-500 mb-3">
          We will stop refreshing your transactions and balance information after your subscription ends. You can renew your subscription from the billing details page.
        </div>
      <% else %>
        <div class="mb-3">You are currently subscribed to the Cheer premium plan.</div>
      <% end %>
      <%= form_tag '/billing/manage', method: :post,  class: 'form-inline', 'data-turbo': 'false' do %>
        <%= button_tag "Manage your billing details", class: 'btn btn-primary med fw-bold' %>
      <% end %>
    <% else%>
      <p>Upgrade to Cheer premium to get all the latest features. </p>
      <%= link_to "Upgrade to premium plan", new_billing_path, class: 'btn btn-primary med fw-bold' %>
    <% end %>
  </div>
</div>