<div class="row">
  <div class='col'>
    <%= form_tag '/billing', class: 'form-inline', 'data-turbo': 'false' do %>
      <%= button_tag "Upgrade to premium plan", class: 'btn btn-primary med fw-bold' %>
    <% end %>
  </div>
</div>