<div class="text-center lg-24">Renew your subscription.</div>
<div class="grey-500 py-4">
  You Cheer premium subscription has expired. In order to get access, please renew your subscription. We automatically delete your data 30 days 
  after your subscription expires.
</div>
<%= form_tag '/billing', class: 'form-inline', 'data-turbo': 'false' do %>
  <div class="btn-group pt-5" role="group" aria-label="Select cheer subscription option" data-controller='billing'>
    <input type="radio" class="btn-check" name="plan_type" value="yearly" id="yearly-plan" autocomplete="off" data-action="change->billing#togglePricing" checked>
    <label class="btn btn-outline-primary small" for="yearly-plan">Pay yearly</label>
    <input type="radio" class="btn-check" name="plan_type" value="monthly" id="monthly-plan" autocomplete="off" data-action="change->billing#togglePricing">
    <label class="btn btn-outline-primary small" for="monthly-plan">Pay monthly</label>
  </div>
  <div class="py-3">
    <div id="price" class="lg-28 fw-bold d-inline align-middle px-2 py-1">$190 per year</div>
    <div class="border rounded-3 xs d-inline primary-teal secondary-bg align-middle px-2 py-1 fw-bold" id="discount-info">2 months on us!</div>
  </div>
  <div class="py-4">
      <%= button_tag "Continue to payment", class: 'btn btn-primary lg-18' %>
  </div>
<% end %>
<div class="xs grey-500">Cancel anytime, no questions asked.</div>