<div class="px-3 py-5 text-center billing-form" >
  <h2 class="text-center">Choose your subscription.</h2>
  <div class="grey-500 py-4">
    Simple, honest pricing. You pay a single subscription price. And you get all the latest features plus unlimited accounts, unlimited family members and no ads ever!
  </div>
  <div class="fw-bold primary-700">
    Your first 15 days are on us, risk-free.
  </div>
  <%= form_tag '/billing', class: 'form-inline', 'data-turbo': 'false' do %>
    <div class="btn-group pt-5" role="group" aria-label="Select cheer subscription option" data-controller='billing'>
      <input type="radio" class="btn-check" name="plan_type" value="yearly" id="yearly-plan" autocomplete="off" data-action="change->billing#togglePricing" checked>
      <label class="btn btn-outline-primary small" for="yearly-plan">Pay yearly</label>
      <input type="radio" class="btn-check" name="plan_type" value="monthly" id="monthly-plan" autocomplete="off" data-action="change->billing#togglePricing">
      <label class="btn btn-outline-primary small" for="monthly-plan">Pay monthly</label>
    </div>
    <div class="py-3">
      <div id="price" class="lg-32 fw-bold d-inline align-middle px-2 py-1">$190 per year</div>
      <div class="border rounded-3 xs d-inline primary-teal secondary-bg align-middle px-2 py-1 fw-bold" id="discount-info">17% off</div>
    </div>
    <div class="py-4">
        <%= button_tag "Start your 15 day free trial →", class: 'btn btn-primary lg-18' %>
    </div>
  <% end %>
  <div class="xs grey-500">Your card will be charged on <%= (Date.today + 15.days).strftime('%b %d') %>.</div>
  <div class="xs grey-500">Cancel anytime, no questions asked.</div>
  <div class="line-break"></div>
  <div class="py-3 px-5">
    <p class="lg-24 pb-4">Included features: </p>
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="d-flex">
          <div class="me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16" class="primary-700 me-2">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>
          </div>
          <p class="text-start">Securely connect all your accounts.</p>
        </div>
        <div class="d-flex">
          <div class="me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16" class="primary-700 me-2">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>
          </div>
          <p class="text-start">Comprehensive view of your Net Worth.</p>
        </div>
        <div class="d-flex">
          <div class="me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16" class="primary-700 me-2">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>
          </div>
          <p class="text-start">Get insights into your income and expense.</p>
        </div>
        <div class="d-flex">
          <div class="me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16" class="primary-700 me-2">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>
          </div>
          <p class="text-start">Manage all your susbcriptions.</p>
        </div>
        <div class="d-flex">
          <div class="me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16" class="primary-700 me-2">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>
          </div>
          <p class="text-start">Add family members.</p>
        </div>
        <div class="d-flex">
          <div class="me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16" class="primary-700 me-2">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>
          </div>
          <p class="text-start">No ads, ever.</p>
        </div>
      </div>
    </div>
  </div>
</div>

