<% title "Linked Accounts" %>
<div class="row m-0" data-controller="plaid">
  <div class="col-sm-8 pt-4">
    <div class="px-2 py-2">
      <div class="fw-bold">Bank accounts linked via Plaid</div>
      <div class="mt-2 mb-4 grey-500 med">
        This is a list of all your connected accounts through Plaid. We automatically fetch transactions and balances for
        these accounts.
      </div>
      <% if @login_items.empty? %>
        <%= link_to 'Link your first account', new_bank_account_path(account_category: 'asset'),
          {data: {remote: true, bs_toggle: 'modal', bs_target: '#cheer-modal'},
          class: 'btn btn-sm btn-primary fw-bold' }%>
      <% else %>
        <div class="border rounded-3" data-controller="links">
          <% @login_items.each do |login_item|%>
            <div class="row border-bottom py-3 m-0 px-2 hoverable" data-action="click->links#showDetails" data-links-id-param="<%= login_item.id %>">
              <%= render login_item %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
