<% if subscriptions.present? %>
  <% subscriptions.each do |subscription| %>
  <div class="border-bottom row py-2" data-controller="subscriptions">
    <div class="col">
      <div class="med"><%= link_to subscription.last_transaction.custom_description, subscription_path(subscription),
        remote: true, class: 'linky'%></div>
        <div class="small grey-100">Last transaction on <%= subscription.last_transaction.formatted_occurred_at %></div>
    </div>
    <div class="col text-end">
      <div class="med">
        <div><%= number_to_currency(subscription.amount)%></div>
        <div class="small grey-100"><%= subscription.frequency.humanize %></div>
      </div>
    </div>
  </div>
  <% end %>
<% else %>
  <div class="grey-500 med">You don't have any recurring transactions here.</div>
<% end %>