<div class="page-container">
  <%= render 'subscriptions', subscriptions: @active_subscriptions, label: 'active' %>
  <%= render 'subscriptions', subscriptions: @inactive_subscriptions, label: 'expired' %>
</div>
