<div class="bank-account-info">
  <div class="bank-account-details">
    <div class="bank-logo"><%= image_tag account.login_item.institution.logo_source, size: "30x30" %></div>
    <div class="account-title">
      <div><%= account.display_name %></div>
      <div class="small grey">Account Ennding in <%= account.mask %></div>
    </div>
  </div>
  <div class="primary lg-18 bold-1"><%= number_to_currency(account.balance)%></div>
</div>