.bank-account-info {
  border: 1px solid #DDD;
  border-radius: 5px;
  margin: 15px;
  padding: 20px;
}

.bank-logo {
  padding: 5px 10px 5px 5px;
}

.bank-account-details {
  padding: 20px 0;
  min-height: 200px;
}