.bank-account-info {
  border-bottom: 1px solid #DDD;
  padding: 10px;
  display:flex;
  justify-content: space-between;
  align-items:baseline;
}

.bank-logo {
  padding: 5px 10px 5px 5px;
}

.bank-account-details {
  display:flex;
  padding: 20px 0;
}