// Place all the styles related to the login_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.login-item-container {
  border: 1px solid #D9E2EC;
  text-align: center;
  margin: 20px 0;
  background-color: #FFF;
  border-radius: 5px;
  width: 30%;
}
.institution-logo {
  margin: 20px 0 10px 0;
}
.institution-name {
  font-weight: 600;
}

.item-details {
  margin: 10px 30px;
}

.info-section {
  margin: 20px 0;
  border-top: 1px solid #DDD;
  padding: 10px;
  text-align: left;
}