@import 'colors';

html {
  height: 100%;
  font-size: 16px;
}

body {
  color: var(--default-color);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue","Ubuntu",sans-serif;
  font-weight: 400;
  background: var(--default-bg);
}

#page-container {
  transition: opacity 140ms ease 0s;
}

div, table, p, section, h1, h2, h3, h4, a, ul, li{
  color: var(--default-color);
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='checkbox'], {
  background-color: var(--default-bg) !important;
  color: var(--default-color) !important;
  border-color: var(--default-border-color);
  box-shadow: none;
  &:focus {
    border-color: var(--purple-600);
  };
}

.border, .border-bottom, .border-top, .border-end, .border-start {
  border-color: var(--default-border-color) !important;
}

.dropdown-menu, .list-group, .list-group-item {
  background-color: var(--default-bg);
  color: var(--default-color);
  border-color: var(--default-border-color);
}

.form-select {
  background-color: var(--default-bg);
  color: var(--default-color);
  border-color: var(--default-border-color);
}

.active {
  color: var(--purple-600);
  font-weight: 700;
}
.danger { color: $danger;}
.default-color { color: var(--default-color);}
.default-bg {
  background: var(--default-bg);
}

a {
  color: var(--default-color);
  text-decoration: none;
  &:hover {
    color: var(--default-color);
  };
}

.form-control {
  box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
  background-color: var(--default-bg) !important;
  color: var(--default-color) !important;
  &:focus {
    box-shadow: none;
    outline: none;
    border-color: var(--purple-600);
  };
}

.form-control::placeholder {
  color: #9AA5B1;
}

.border-primary-100, .border-primary {
  border-color: var(--purple-600) !important;
}

.btn-primary {
  color: $white;
  background-color: var(--purple-600);
  border: none;
  &:hover, &:focus {
    color: $white;
    background-color: var(--purple-600);
  }
  &:disabled {
    background-color: $default-grey;
    cursor: auto;
  }
}

.btn-outline-primary {
  color: var(--purple-600);
  background-color: $white;
  border-color: var(--purple-600);
  &:hover, &:focus {
    color: $white;
    background-color: var(--purple-600);
  }
  &:disabled {
    background-color: $default-grey;
    cursor: auto;
  }
}

.main {
  background-color: transparent;
  border: none;
}

.bold-2 {
  font-weight: 600;
}

.logo {
  color: var(--purple-600);
  font-weight: 800;
  &:hover {
    text-decoration: none;
    color: $primary-dark;
  }
}

a.grey-linky {
  text-decoration: none;
  color: var(--grey-50);
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

ul.simple-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: inline;
  }
}

.line-break {
  border-top: 1px solid var(--default-border-color);
  margin: 20px 0;
}

.auth-form {
  max-width: 400px;
  margin: 0 auto;
}

.hide {
  display: none;
}

.xs { font-size: 0.75rem;}
.small { font-size: 0.8125rem;}
.med { font-size: 0.875rem;}
.lg-16 { font-size: 1rem;}
.lg-18 { font-size: 1.125rem;}
.lg-20 { font-size: 1.25rem;}
.lg-24 { font-size: 1.5rem;}
.lg-28 { font-size: 1.75rem;}
.lg-32 { font-size: 2rem;}
.lg-36 { font-size: 2.25rem;}
.lg-48 { font-size: 3rem;}
.lg-60 { font-size: 3.75rem;}
.lg-72 { font-size: 4.5rem;}

.status {
  background-color: #BCCCDC;
}

.icon-small {
  font-weight: bold;
  height: 20px;
  width: 20px;
}

.up {
  color: var(--green);
}

.down {
  color: $red;
}

a.linky {
  color: var(--grey-10);
  &:hover {
    text-decoration: underline;
  }
}

a.purple-linky {
  color: var(--purple-600);
  &:hover {
    text-decoration: underline;
  }
}

.arrow-right:after {
  content: ' \2192';
}

.scrollable {
  flex-grow: 1;
  overflow: auto;
  min-height: 0;
  height: 1000px;
}

.alert {
  color: $alert;
  border: 1px solid $red-800;
  padding: 10px;
  margin: 15px 0;
  font-size: 0.8125rem;
}

ul.basic {
  list-style: none;
  padding: 0;
  margin: 0;
}

.table-header {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--default-color);
}

.header {
  font-weight: 400;
  border-bottom: 1px solid var(--default-border-color);
  line-height: 1.5rem;
  padding: 10px;
}

.plaid-button {
  margin: 10px 0 30px 0;
}

.partner-logo {
  width: 1.5rem;
  height: 1.5rem;
}

.partner-logo-coinbase {
  width: 64px;
  height: 32px;
  margin-bottom: 3px;
}

.partner-logo-crypto {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--secondary-bg);
}

.manual-entry-logo {
  color: var(--grey-500);
  width: 1.5rem;
  height: 1.5rem;
}

.search-container {
  background-color: var(--default-bg);
  border: 1px solid var(--default-border-color);
  border-radius: 5px;
  ul {
    list-style: none;
    padding: 0 20px;
    margin: 0;
    li {
      border-bottom: 1px solid var(--default-border-color);
      padding: 5px;
      &:hover {
        background-color: var(--grey-900);
        cursor: pointer;
      }
    }
    li:last-child { border-bottom: none; }
  }
}

.drop-container {
  background-color: var(--default-bg);
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 10px 0;
      border-bottom: 1px solid var(--default-border-color);
      &:hover {
        cursor: pointer;
      }
    }
    li.subitem {
      padding-left: 10px;
      &:hover {
        background-color: var(--grey-900);
      };
    }
    li:last-child { border-bottom: none; }
  }
}

.form-background {
  padding: 20px;
  background-color: var(--grey-900);
  border-radius: 5px;
}

.flash-container {
  padding: 15px 15px;
  text-align: center;
  background: $purple-1000;
  width: 50%;
  margin: 0 auto;
  color: var(--default-color);
  border-radius: 10px;
}

.notice {
  padding: 10px;
  background: $purple-1000;
  color: var(--default-color);
  border-radius: 10px;
}

.icon {
  a {
    color: var(--grey-100);
    line-height: 2rem;
    font-size: 0.9rem;
    &:hover {
      text-decoration: none;
      color: var(--purple-600);
      font-weight: bold;
    }
    &.active {
      color: var(--purple-600);
      font-weight: bold;
    }
    svg {
      fill: currentColor;
      margin-right: 10px;
      width: 22px;
      height: 22px;
    }
  }
}

.icon-item {
  color: $default-grey;
  svg {
    fill: currentColor;
    width: 24px;
    height: 24px;
  }
}

.icon-item-double {
  svg {
    fill: currentColor;
    width: 48px;
    height: 48px;
  }
}

.icon-item-small {
  svg {
    width: 16px;
    height: 16px;
  }
}


.placeholder-logo {
  color: var(--purple-600);
  svg {
    fill: $purple-700;
    background: $purple-1000;
    width: 36px;
    height: 36px;
    border-radius: 10px;
    padding: 5px;
    &.teal {
      fill: $primary-teal;
      background: $teal-1000;
    }
  }
}

.form-switch {
  .primary-switch {
    filter: none;
    margin-left: 0;
    width: 3em;
    height: 1.5em;
  }
  .form-check-input {
    border-color: var(--default-border-color);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='rgba(110, 110, 110, 0.25)'/></svg>");
    background-position: left center;
  }
  .form-check-input:checked, .form-check-input:focus {
    border-color: var(--purple-600);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='rgba(93,85,250,0.8)'/></svg>");
  }
}

.z-1000 {
  z-index: 1000;
}

.z-2000 {
  z-index: 2000;
}

.ellipsis-link {
  padding: 4px;
  &:hover {
    border: 1px solid var(--default-border-color) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    border-radius: 5px;
  }
}

.credit {
  color: var(--green);
  font-weight: bold;
}

.chevron-right::before {
  display: inline-block;
  content: "";
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" /></svg>');
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  width: 16px;
  height: 16px;
}

.chevron-bottom::before {
  display: inline-block;
  content: "";
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" /></svg>');
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  width: 16px;
  height: 16px;
}

.pencil::before {
  display: inline-block;
  content: "";
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" /></svg>');
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  width: 16px;
  height: 16px;
}

.page-link {
  border-color: var(--default-border-color);
}

nav.pagy-bootstrap-nav {
  background-color: var(--default-bg);
  a {
    background-color: var(--default-bg);
    color: var(--purple-600);
    &:hover {
      background-color: var(--secondary-bg);
      border-color: var(--default-border-color);
      color: var(--purple-600);
    };
  }
  .page-item.active .page-link {
    background-color: var(--purple-600);
    border-color: var(--purple-600);
    border-color: var(--default-border-color);
    opacity: 0.5;
  }
  .page-item.disabled .page-link {
    background-color: var(--default-bg);
    border-color: var(--default-border-color);
  }
}

.category-list-item {
  color: var(--purple-600);
  &:hover {
    background-color: var(--grey-900);
    cursor: pointer;
  }
}

.left-menu-item {
  position: relative;
  top: -37px;
  left: 366px;
}

ul.submenu {
  position: absolute;
  top: 0;
  left: 100%;
}

//uplot
.u-label {
  font-weight: bold;
  font-size: 13px;
}
.u-value {
  font-weight: normal;
  font-size: 13px;
  margin-top: 3px;
}

#nav-container {
  min-height: 100vh;
  max-width: 220px;
  background-color: var(--secondary-bg);
}

@media (max-width: 1023px) {
  .side-nav-visible {
    background-color: var(--default-bg);
    display: flex;
    flex-direction: column;
    height: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 1021;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 16px;
    position: absolute !important;
    transition: left 100ms ease-out 0s, box-shadow 0.15s 0s;
    padding: 10px 15px 10px 15px;
    border-right: 1px solid var(--default-border-color);
    width: 170px;
  }

  .side-nav-hidden {
    background-color: var(--default-bg);
    width: 0px;
    top: 0px;
    left: -240px;
    bottom: 0px;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 0px;
    position: absolute !important;
    transition: left 100ms ease-in 0s, box-shadow 0.15s 0s;
    padding: 10px 15px 10px 15px;
    border-right: 1px solid var(--default-border-color);
    height: 100%;
  }
}

.noscroll {
  overflow: hidden;
}

.nav-toggler::before {
  color: var(--default-color);
  display: inline-block;
  content: "";
  background-image: var(--navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-size: 1.5rem 1.5rem;
  margin-top: 3px;
  width: 24px;
  height: 24px;
}

.slide-in {
  z-index: 10; /* to position it in front of the other content */
  position: absolute;
  overflow: hidden; /* to prevent scrollbar appearing */
  background: $primary-1000;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 8px 16px;
  position: absolute;
  top: 60px;
  max-width: 360px;
  min-height: 100%;
}

.slide-in.from-left {
  left: 0;
}

.slide-in.from-right {
  right: 0;
}

.slide-in-content {
  padding: 5px 20px;
  transition: transform 100ms ease; /* our nice transition */
}

.slide-in.from-left .slide-in-content {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.slide-in.from-right .slide-in-content {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

.slide-in.show .slide-in-content {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

.fixed-pos {
  position: fixed;
}

.tx-row, .category-row {
  &:hover {
    background-color: var(--grey-900);
  }
}

.mw60 {
  max-width: 60px;
}

.pointer {
  cursor: pointer;
}

.btn-svg {
  background: transparent;
  border: none;
  padding: 3px 5px;
  border-radius: 4px;
  color: var(--default-color);
  opacity: 0.5;
  &:focus {
    background-color: var(--grey-900);
    color: var(--default-color);
    opacity: 1;
    outline: none !important;
  };
}

.btn-h:hover {
  background-color: var(--secondary-bg);
  color: var(--default-color);
  opacity: 1;
  svg {
    color: var(--default-color);
  }
}

.c-shadow {
  box-shadow: #00000017 0px 5px 15px;
}

.modal-content {
  background-color: var(--secondary-bg);
  border-color: var(--default-border-color);
  .modal-header {
    border-color: var(--default-border-color);
  }
}

.modal-backdrop.show {
  opacity: 3;
  background-color: $modal-backdrop;
}

.big-shadow {
  box-shadow: #00000080 0px 16px 70px;
}

.toast {
  background-color: var(--secondary-bg);
  border-color: var(--default-border-color);
}

.toast-header {
  background-color: var(--secondary-bg);
  border-color: var(--default-border-color);
}

.btn-close {
  color: var(--grey-600);
  background: none;
}

.border-top-dotted {
  border-top: 1px dotted var(--default-border-color);
}

.money-container {
  .cashflow-value {
    padding: 5px 0;
  }
  border: 1px solid var(--default-border-color);
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px 10px;
}

.transactions-container {
  border: 1px solid var(--default-border-color);
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 0px 12px 24px rgba(0,0,0,0.06), 0px -12px 24px rgba(0,0,0,0.06);
}

#transactions-container {
  transition: opacity 200ms ease-in-out;
}

.budget-button {
  text-align: center;
}

.btn-budget {
  margin-top: -30px;
  padding: 15px 40px;
  font-weight: 800;
  &:hover {
    text-decoration: underline;
  }
}

.category-spend {
  margin: 10px 0;
  padding-top: 10px;
}

.time-slice {
  color: $default-grey;
  text-decoration: none;
  margin: 0 10px;
  padding: 3px;
  &:hover {
    color: var(--purple-600);
    text-decoration: none;
    border-bottom: 3px solid var(--purple-600);
  }
  &.active {
    color: var(--purple-600);
    font-weight: 600;
    border-bottom: 3px solid var(--purple-600);
  }
}

.time-scale {
  color: var(--primary-grey);
  background-color: var(--secondary-bg);
  a {
    text-decoration: none;
    &:hover {
      color: var(--purple-600);
      text-decoration: none;
    }
    &.active {
      color: var(--purple-600);
    }
  }
}

.spend-title {
  font-weight: 400;
  color: var(--grey-100);
}

.money-out-type {
  margin: 20px 0 10px 0;
}

div.intro {
  width: 50%;
  margin: 0 auto;
  margin-top: 80px;
  h1 {
    margin: 20px 0;
    font-weight: 800;
    font-size: 36px;
  }
  p.subtext {
    margin: 20px 0;
  }
  div.connect {
    a {
      margin-top: 20px;
    }
  }
}

.login-item-container {
  border: 1px solid var(--default-border-color);
  text-align: center;
  margin: 20px 0;
  border-radius: 5px;
  width: 30%;
}
.institution-logo {
  margin: 20px 0 10px 0;
}
.institution-name {
  font-weight: 600;
}

.item-details {
  margin: 10px 30px;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #816dff;
  background: -moz-linear-gradient(left, #816dff 10%, rgba(129,109,255, 0) 42%);
  background: -webkit-linear-gradient(left, #816dff 10%, rgba(129,109,255, 0) 42%);
  background: -o-linear-gradient(left, #816dff 10%, rgba(129,109,255, 0) 42%);
  background: -ms-linear-gradient(left, #816dff 10%, rgba(129,109,255, 0) 42%);
  background: linear-gradient(to right, #816dff 10%, rgba(129,109,255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #816dff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #fcfffb;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.subscription {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px;
  border-bottom: 1px solid var(--default-border-color);
  cursor: pointer;
  &:hover {
    background-color: var(--grey-900);
  }
}

.subscription-transactions {
  padding: 10px 0 0 0;
}

.subscription-transaction {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  border-bottom: 1px solid var(--default-border-color);
  &:hover {
    background-color: var(--grey-900);
  }
}

// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.account-header {
  margin: 20px 0;
  text-align: center;
  .account-title {
    vertical-align: middle;
    margin-left: 5px;
  }
}

.account-info {
  display: flex;
  justify-content: space-between;
  align-items:center;
  .table {
    text-align: right;
  }
  .account-value {
    display: flex;
    justify-content: center;
    align-items:center;
    div.value {
      padding: 0 20px;
      .amount {
        text-align:center;
      }
      .amount-label {
        color: var(--grey-500);
        text-transform: uppercase;
      }
    }
  }
}

.transactions-list {
  margin-top: 20px;
}

.transactions-table {
  text-align: right;
  border: 1px solid var(--default-border-color);
}

.account-list {
  margin-right: 30px;
  li {
    border-bottom: 1px solid var(--default-border-color);
    padding: 10px;
  }
}

.status {
  &.pending {
    background-color: $yellow;
  }
  &.settled {
    background-color: var(--grey-700);
    color: var(--grey-500);;
  }
  border-radius: 10px;
  padding: 2px 10px;
  color: $white;
  text-align: center;
}

.transactions-summary {
  div.tx-row {
    border-bottom: 1px solid var(--default-border-color);
  }
  div.tx-row:last-child { border-bottom: none}
}

.user-avatar {
  width: 100px;
  height: 100px;
  border: 1px solid var(--default-border-color);
  margin: 0 auto;
  border-radius: 50px;
  background: var(--grey-700);
}

.fade-in {
  animation-name: none;
  animation-duration: 0.45s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.hoverable {
  &:hover {
    background-color: var(--grey-900);
  }
}

.searchable-list {
  input {
    background-color: var(--tertiary-bg) !important;
    border-color: var(--grey-600);
    &:active, &:focus {
      outline: none;
    };
  }
}

@media (max-width: 600px) {
  .searchable-list {
    min-width: 90%;
    left:5%;
  }
}
