$default-color: #334E68;
$primary: #7069FA;
$primary-dark: #5D55FA;
$primary-grey: #829AB1;
$primary-teal: #3EBD93;
$danger: #EF4E4E;

html {
  height: 100%;
  font-size: 16px;
}

body {
  color: $default-color;
  font-size: 1rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue","Ubuntu",sans-serif;
  font-weight: 400;
}


div, table, p, section, h1, h2, h3, h4 {
  color: $default-color;
}

.primary {color: $primary;}
.primary-dark {color: $primary-dark;}
.grey-900 {color: $primary-grey;}
.primary-teal {color: $primary-teal;}
.active {
  color: $primary;
  font-weight: 700;
}
.danger { color: $danger;}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-box {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 10px 0;
  .main-nav {
    width: 70%;
    margin: 0 auto;
  }
}

a {
  color: $default-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: $default-color;
  }
}

.main {
  background-color: transparent;
  border: none;
}

.bold-1 {
  font-weight: 500;
}

.bold-2 {
  font-weight: 600;
}

.grey-1 {
  color: #9FB3C8;
}

.bold {
  font-weight: 800;
}

.logo-item {
  margin: 10px 0 40px 0;
}

.logo {
  font-weight: 800;
  color: $primary;
  &:hover {
    text-decoration: none;
    color: #5D55FA;
  }
}

a.grey-linky {
  text-decoration: none;
  color: #627D98;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.btn-primary {
  color: #FFF;
  background-color: $primary;
  border: none;
  &:hover, &:focus {
    color: #FFF;
    background-color: $primary;
  }
  &:disabled {
    background-color: $primary-grey;
    cursor: auto;
  }
}

.btn-outline-primary {
  color: $primary;
  background-color: #FFF;
  border-color: $primary;
  &:hover, &:focus {
    color: #FFF;
    background-color: $primary;
  }
  &:disabled {
    background-color: $primary-grey;
    cursor: auto;
  }
}

ul.simple-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: inline;
  }
}

.form-control {
  box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
}

.line-break {
  border-top: 1px solid #BCCCDC;
  margin: 20px 0;
}

.underline {
  text-decoration: underline;
}

#editor {
  min-height: 52vh;
}

.auth-form {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #BCCCDC;
  background-color: #FFF;
}

.default-container {
  width: 90%;
  margin: 0 auto;
  background-color: #FFF;
  border-radius: 5px;
  border: 1px solid #DDD;
}

.meeting-title {
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid #CCC;
  border-radius: 0;
  padding: 0;
  margin-bottom: 30px;
  font-weight: bold;
  color: #111;
}

.post-box {
  margin: 10px 0;
  border: 1px solid #DDD;
  padding: 10px;
  border-radius: 5px;
}

.new-greeting {
  margin: 10px 0;
}

.hide {
  display: none;
}

.xs { font-size: 0.75rem;}
.small { font-size: 0.8125rem;}
.med { font-size: 0.875rem;}
.lg-18 { font-size: 1.125rem;}
.lg-20 { font-size: 1.25rem;}
.lg-24 { font-size: 1.5rem;}
.lg-32 { font-size: 2rem;}
.lg-36 { font-size: 2.25rem;}
.lg-48 { font-size: 3rem;}
.lg-60 { font-size: 3.75rem;}
.lg-72 { font-size: 4.5rem;}

.thin {
  font-weight: 200;
}

.grey {
  color: #829AB1;
}

.inactive {
  color: #829AB1;
}

.status {
  padding: 1px 7px;
  width: min-content;
  margin: 5px auto;
  background-color: #BCCCDC;
  border-radius: 4px;
}

.icon-small {
  font-weight: bold;
  height: 20px;
  width: 20px;
}

.up {
  color: #3EBD93;
}

.down {
  color: #EF4E4E;
}

a.linky {
  color: #222;
  &:hover {
    text-decoration: underline;
  }
}

a.purple-linky {
  color: $primary;
  &:hover {
    text-decoration: underline;
  }
}

.dotted-border {
  border-top: 1px dotted #BCCCDC;
  padding: 3px 0;
}

table.hoverable {
  tr:first-child {
    td {
      border-top: 0;
    }
  }
  tr {
    padding: 10px;
  }
  tr:hover {
    background-color: #F7F7F7;
  };
}

.progress {
  height: 5px;
  border: 1px solid #F7F7F7;
  border-radius: 0;
  background-color: #F0F4F8;
  .progress-bar {
    background-color: #A2A5FC;
  }
}

.scrollable {
  flex-grow: 1;
  overflow: auto;
  min-height: 0;
  height: 1000px;
}

.alert {
  color: #E12D39;
  border: 1px solid #FF9B9B;
  padding: 10px;
  margin: 15px 0;
  font-size: 0.8125rem;
}

ul.basic {
  list-style: none;
  padding: 0;
  margin: 0;
}

.table-header {
  text-transform: uppercase;
  font-weight: 500;
  color: $default-color;
  background-color: #F0F4F8;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.primary-container {
  display: flex;
  justify-content: flex-start;
}

//Nav
.nav-container {
  height: 100%;
  padding: 0 20px;
}
.top-nav-container {
  padding-right: 30px;
}

.main-container {
  padding: 40px 0;
}

.welcome {
  margin-bottom: 20px;
  font-weight: 500;
}
.icon {
  a {
    color: #829AB1;
    line-height: 2rem;
    font-size: 0.9rem;
    &:hover {
      text-decoration: none;
      color: $primary;
      font-weight: bold;
    }
    &.active {
      color: $primary;
      font-weight: bold;
    }
    svg {
      fill: currentColor;
      margin-right: 5px;
      width: 24px;
      height: 24px;
    }
  }
}

.page-container {
  padding: 20px 0;
}

.header {
  font-weight: 400;
  border-bottom: 1px solid #D9E2EC;
  line-height: 1.5rem;
  padding: 10px;
}

.plaid-button {
  margin: 10px 0 30px 0;
}

.form-control {
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: $primary;
}

.form-control::placeholder {
  color: #9AA5B1;
}

.line-side-header {
  h2 {
      display: grid;
      grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
      align-items: center;
      text-align: center;
      grid-gap: 20px;
      width: 100%;
  }

  h2:before,
  h2:after {
      content: '';
      border-top: 2px solid;
  }
}

.search-container {
  background-color: #FEFEFE;
  border: 1px solid #CCC;
  border-radius: 5px;
  ul {
    list-style: none;
    padding: 0 20px;
    margin: 0;
    li {
      border-bottom: 1px solid #DDD;
      padding: 5px;
      &:hover {
        background-color: #F7F7F7;
        cursor: pointer;
      }
    }
    li:last-child { border-bottom: none; }
  }
}

.drop-container {
  background-color: #FEFEFE;
  border: 1px solid #CCC;
  border-radius: 5px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 10px 0;
      border-bottom: 1px solid #DDD;
      &:hover {
        cursor: pointer;
      }
    }
    li.subitem {
      padding-left: 10px;
      &:hover {
        background-color: #5D55FA;
        color: #FFF;
      };
    }
    li:last-child { border-bottom: none; }
  }
}

.form-background {
  padding: 20px;
  background-color: #F0F4F8;
  border-radius: 5px;
}

.flash-container {
  padding: 15px 15px;
  text-align: center;
  background: #E6E6FF;
  width: 50%;
  margin: 0 auto;
  color: #111;
  border-radius: 10px;
}

.notice {
  padding: 10px;
  background: #E6E6FF;
  color: $default-color;
  border-radius: 10px;
}

.icon {
  a {
    color: #829AB1;
    line-height: 2rem;
    font-size: 0.9rem;
    &:hover {
      text-decoration: none;
      color: #7069FA;
      font-weight: bold;
    }
    &.active {
      color: #8888FC;
      font-weight: bold;
    }
    svg {
      fill: currentColor;
      margin-right: 5px;
      width: 24px;
      height: 24px;
    }
  }
}

.icon-item {
  color: $primary-grey;
  svg {
    fill: currentColor;
    width: 24px;
    height: 24px;
  }
}