.subscription {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px;
  border-bottom: 1px solid #D9E2EC;
  cursor: pointer;
  &:hover {
    background-color: #F0F4F8;
  }
}

.subscriptions {
  width: 60%;
  margin-bottom: 60px;
}

.subscription-transactions {
  padding: 10px 0 0 0;
}

.subscription-transaction {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  border-bottom: 1px solid #D9E2EC;
  &:hover {
    background-color: #F0F4F8;
  }
}