// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.account-header {
  margin: 20px 0;
  text-align: center;
  .account-title {
    font-size: 16px;
    vertical-align: middle;
    margin-left: 5px;
  }
}

.account-info {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  .table {
    font-size: 12px;
    text-align: right;  
  }
  .account-value {
    display: flex;
    justify-content: center;
    align-items:center;
    div.value {
      padding: 0 20px;
      .amount {
        font-size: 20px;
        text-align:center;
      }
      .amount-label {
        font-size: 12px;
        color: #9FB3C8;
        text-transform: uppercase;
      }
    }
  }
}

.transactions-table {
  font-size: 14px;
  text-align: right;
}
