// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.account-header {
  margin: 20px 0;
  text-align: center;
  .account-title {
    vertical-align: middle;
    margin-left: 5px;
  }
}

.account-info {
  display: flex;
  justify-content: space-between;
  align-items:center;
  .table {
    text-align: right;
  }
  .account-value {
    display: flex;
    justify-content: center;
    align-items:center;
    div.value {
      padding: 0 20px;
      .amount {
        text-align:center;
      }
      .amount-label {
        color: #9FB3C8;
        text-transform: uppercase;
      }
    }
  }
}

.transactions-list {
  margin-top: 20px;
}

.transactions-table {
  text-align: right;
  border: 1px solid #dee2e6;
}

.account-list {
  margin-right: 30px;
  li {
    border-bottom: 1px solid #dee2e6;
    padding: 10px;
  }
}

.status {
  &.pending {
    background-color: #F0B429;
  }
  &.settled {
    background-color: #D9E2EC;
    color: #555;
  }
  border-radius: 10px;
  padding: 2px 10px;
  color: #FFF;
  text-align: center;
}

.transactions-summary {
  div.tx-row {
    border-bottom: 1px solid #EEE;
  }
  div.tx-row:last-child { border-bottom: none}
}