<table style="width: 100%;table-layout: fixed; padding-top: 10px; border-top: 1px solid #EEE;">
  <tbody>
    <tr>
      <td style="padding: 20px 0;">
        <p style="line-height: 20px">Hey <%= @user.friendly_name %>,</p>
        <div style="padding: 10px 0;">
          <span>
            <b>Thank you for subscribing to Cheer premium.</b>
            You are one step closer to taking control of your financial fitness.</span>
        </div>
        <p>
          To get started, you should connect your financial accounts with Cheer to get a holistic view of your Net Worth + your Income and Expense summary.
        </p>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; padding-bottom: 30px">
        <a style="text-decoration: none;cursor: pointer; padding: 15px 20px; background-color: #7069FA; color: #FFF;
        font-size: 1rem;border-radius: 5px;" href="/login_items">
          Let's link your accounts →
        </a>
      </td>
    </tr>
  </tbody>
</table>