<table style="width: 100%;table-layout: fixed; padding-top: 10px; border-top: 1px solid #EEE;">
  <tbody>
    <tr>
      <td>
        <p style="line-height: 25px">Hey <%= @user.friendly_name %> - Good news, we have successfully connected to 
          your <%= @login_item.institution.name %> account. To view all the latest account details, please go to your cheer account.
        </p>
      </td>
    </tr>
    <tr>
      <td style="padding: 20px 0">
        <a style="text-decoration: none;cursor: pointer; padding: 15px 20px; background-color: #7069FA; color: #FFF;
        font-size: 1rem;border-radius: 5px;" href="https://app.usecheer.com">View details in Cheer</a>
      </td>
    </tr>
  </tbody>
</table>