<ul class="small list-group">
<% category.sub_categories.each do |id, name| %>
<li class="list-group-item rounded-0 p-2 border-primary-100 category-list-item" data-categories-url-value="/categories/<%= id%>"
  data-action="mouseover->categories#fetchChildCategories" data-categories-target="subCategoriesContainer">
  <div class="row m-0">
    <div class="col primary bold-2"><%= name %></div>
  </div>
</li>
<% end %>
</ul>

