<%= turbo_stream_from 'transactions' %>
<% if @transactions.empty? %>
<div class="text-center grey-100 py-5">No transactions found.</div>
<% else %>
<%= turbo_frame_tag "transactions" do %>
  <% @transactions.each do |transaction| %>
    <%= render 'transaction_summary', transaction: transaction %>
  <% end %>
<% end %>
<% end %>
<div class="my-3 mx-auto justify-content-center med primary">
  <%== render 'shared/pagy_nav', pagy: @pagy %>
</div>
