<% if transactions.empty? %>
  <div class="row m-0">
    <div class="col-12 py-3">
      <div class="text-center grey-100 font-italic med">No transactions yet.</div>
    </div>
  </div>
<% else %>
  <%= turbo_stream_from 'transactions' %>
  <%= turbo_frame_tag 'transactions' do %>
    <% transactions.each do |transaction| %>
      <%= render 'transactions/transaction_summary', transaction: transaction %>
    <% end %>
  <% end %>
<% end %>