<% if @transactions.empty? %>
<div class="text-center grey-100 py-5">No transactions found.</div>
<% else %>
<% @transactions.each do |transaction| %>
<div class="row py-3 border-bottom tx-row med" id="tx-<%= transaction.id %>" data-controller="transactions"
  data-tx-id="<%= transaction.id%>" data-action="click->transactions#fetchTransactionDetails">
  <%= render 'transaction_summary', transaction: transaction %>
</div>
<% end %>
<% end %>
<div class="my-3 mx-auto justify-content-center med primary">
  <%== render 'shared/pagy_nav', pagy: @pagy %>
</div>
