<button type="button" class="btn-svg btn-h" id="dd-tx-menu" data-bs-toggle="dropdown" aria-expanded="false">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" width="16" height="16">
    <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
  </svg>
</button>
<ul class="dropdown-menu small dropdown-menu-end rounded-2 c-shadow py-1" aria-labelledby="dd-tx-menu">
  <% if transaction.debit?%>
  <li class="py-0">
    <button class="btn-h dropdown-item py-2" type="button" data-action="click->transactions#toggleEssentialSpend"
      data-id="<%= transaction.id%>" data-transactions-target="essentialMenuItem" data-value="<%= !transaction.essential?%>">
      <div class="row">
        <div class="col-2 grey-50 text-end">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclude" viewBox="0 0 16 16">
            <path d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm12 2H5a1 1 0 0 0-1 1v7h7a1 1 0 0 0 1-1V4z"/>
          </svg>
        </div>
        <div class="col-10">
          <%= transaction.essential? ? "Update to non-essential spend" : "Update to essential spend"%>
        </div>
      </div>
    </button>
  </li>
  <% end %>
  <li class="py-0">
    <button class="btn-h dropdown-item py-2" type="button">
      <div class="row">
        <div class="col-2 grey-50 text-end">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"></path>
            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"></path>
          </svg>
        </div>
        <div class="col-10">Set recurrence...</div>
      </div>
    </button>
  </li>
</ul>