<% if transactions_by_category.empty? %>
  <div class="med grey-50 p-3">No transactions found.</div>
<% else %>
  <% transactions_by_category.each do |categorized_transaction|%>
    <%= link_to category_transactions_path(categorized_transaction.category,
      category_name: categorized_transaction.category_name, period: @period, start_date: @start_date, end_date: @end_date) do %>
      <div class="row small m-2 border-bottom hoverable">
        <div class="col-6 p-2 grey-100"><%= categorized_transaction.category_name || 'Unknown' %></div>
        <div class="col-6 p-2 text-end"><%= number_to_currency(categorized_transaction.total_spend.abs)%></div>
      </div>
    <% end %>
  <% end %>
<% end %>