<% if @transactions_by_merchant.empty? %>
  <div class="med grey-50 p-3">No transactions found.</div>
<% else %>
  <% @transactions_by_merchant.each do |aggregated_transaction|%>
    <div class="row small m-2 border-bottom">
      <div class="col-6 p-2"><%= aggregated_transaction.aggregation || 'Unknown' %></div>
      <div class="col-6 p-2 text-end"><%= signed_number_to_currency(aggregated_transaction.total_spend)%></div>
    </div>
  <% end %>
<% end %>