<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Description</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <% transactions.each do |transaction| %>
      <tr>
        <td scope="row"><%= transaction.occured_at.strftime('%b %d, %Y') %></th>
        <td>
          <div><%= transaction.description %></div>
          <div class=""><%= transaction.category_list %></div>
        </td>
        <td><%= number_to_currency(transaction.amount)%></td>
      </tr>
    <% end %>
  </tbody>
</table>