<div class="container">
  <div class="transactions-list">
    <h1 class="lg-24">Transactions history</h1>
    <div class="transactions-table med">
      <%= render 'transactions' %>
    </div>
  </div>
</div>
