<%= link_to 'Link Account', '', {id: 'plaid-link', remote: true, data: {authentication_token: form_authenticity_token }}%>
<% @bank_accounts.each do |account| %>
  <p class="account-name">
    <div id="">
      <span><%= image_tag account.login_item.institution.logo_source, size: "30x30" %></span>
      <span><%= account.name %></span>
    </div>
  </p>
  <% if account.transactions.empty? %>
    <div>No transactions found.</div>
  <% else %>
    <%= render 'transactions', transactions: account.transactions %>
  <% end %>
<% end %>